<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
    <form id="formContainer" method="POST" action="/">
        <textarea id="box1" name="apiKey" maxlength="100" placeholder="Enter text here" rows="10" cols="50"></textarea>
        <input id="box2" type="submit" value="submit">
    </form>
</body>
</html>