
.RESflexContainer1{
    margin: 10% 0% 0% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RESflexContainer2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RESbox1{
    padding: 2vh 1vw 2vh 1vw;
    background-color: aliceblue;
    text-align: center;
    min-width: 40vw;
    border: 3px solid black;
    border-right: none;
    font-size: 1.5rem;
    box-shadow: 0 0 10px 1px #5E5E5E;
}

.RESbox2{
    padding: 2vh 1vw 2vh 1vw;
    background-color: #6e2ae4;
    text-align: center;
    min-width: 10vw;
    border: 3px solid black;
    font-size: 1.5rem;
    color:whitesmoke;
    box-shadow: 5px 0 10px 0px #5E5E5E;
}

.RESbox2:hover{
    box-shadow: none;
}

@media only screen and (max-width: 700px) {
    .RESbox1{
        font-size: 0.5rem;
        min-width: 60vw;
    }
    .RESbox2{
        font-size: 0.5rem;
        min-width: 15vw;
    }
}